<div class="bg-light border rounded p-3 mb-4 mb-md-0">
  <button
    class="btn btn-secondary d-md-none"
    type="button"
    data-toggle="collapse"
    href="#filtersCollapse"
    role="button"
    aria-expanded="false"
    aria-controls="filtersCollapse"
  >
    Zobrazit filtry
  </button>

  <div class="collapse d-md-block" id="filtersCollapse">
    <div class="mt-3 mt-md-0">

      <p class="h5 font-weight-bold">O co máte zájem?</p>

      {% for index, choice in type_choices %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ index }}"
            id="filterType{{ index }}"
            name="type[]"
            {{ index in checked_types ? 'checked' }}
          >
          <label class="form-check-label" for="filterType{{ index }}">
            {{ choice }}
          </label>
        </div>
      {% endfor %}

      <hr>

      <p class="h5 font-weight-bold">Kategorie</p>

      {% for term in all_categories %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ term.id }}"
            id="filterCategory{{ term.id }}"
            name="category[]"
            {{ term.id in checked_categories ? 'checked' }}
          >
          <label class="form-check-label" for="filterCategory{{ term.id }}">
            {{ term.name }}
          </label>
        </div>
      {% endfor %}

      <hr>

      <p class="h5 font-weight-bold mb-0">Cena</p>
      <p class="small mb-3">Při prodeji a bez DPH</p>

      <div class="mx-3">
        <div class="mb-3" id="filterPrice"></div>
      </div>
      <div class="d-flex w-100 align-items-center justify-content-between">
        <input
          class="form-control form-control-sm"
          style="width:80%"
          type="number"
          id="filterPriceInputMin"
          name="price_min"
          value="{{ price_start[0] }}"
          min="{{ price_range.min }}"
          max="{{ price_range.min }}"
          step="1000"
        >
        <span class="small text-muted mx-1">až</span>
        <input
          class="form-control form-control-sm"
          type="number"
          id="filterPriceInputMax"
          name="price_max"
          value="{{ price_start[1] }}"
          min="{{ price_range.min }}"
          max="{{ price_range.max }}"
          step="1000"
        >
        <span class="small text-muted ml-1">Kč</span>
      </div>

      <hr>

      <p class="h5 font-weight-bold mb-0">Obrat</p>
      <p class="small mb-3">Za poslední rok</p>

      <div class="mx-3">
        <div class="mb-3" id="filterTurnover"></div>
      </div>
      <div class="d-flex w-100 align-items-center justify-content-between">
        <input
          class="form-control form-control-sm"
          style="width:80%"
          type="number"
          id="filterTurnoverInputMin"
          name="turnover_min"
          value="{{ turnover_start[0] }}"
          min="{{ price_range.min }}"
          max="{{ price_range.max }}"
          step="1000"
        >
        <span class="small text-muted mx-1">až</span>
        <input
          class="form-control form-control-sm"
          type="number"
          id="filterTurnoverInputMax"
          name="turnover_max"
          value="{{ turnover_start[1] }}"
          min="{{ turnover_range.min }}"
          max="{{ turnover_range.max }}"
          step="1000"
        >
        <span class="small text-muted ml-1">Kč</span>
      </div>

      <hr>

      <p class="h5 font-weight-bold mb-0">Návštěvnost</p>
      <p class="small mb-3">Za poslední rok</p>

      <div class="mx-3">
        <div class="mb-4" id="filterTraffic"></div>
      </div>
      <div class="d-flex w-100 align-items-center justify-content-between">
        <input
          class="form-control form-control-sm"
          style="width:80%"
          type="number"
          id="filterTrafficInputMin"
          name="traffic_min"
          value="{{ traffic_start[0] }}"
          min="{{ price_range.min }}"
          max="{{ price_range.axn }}"
          step="1000"
        >
        <span class="small text-muted mx-1">až</span>
        <input
          class="form-control form-control-sm"
          type="number"
          id="filterTrafficInputMax"
          name="traffic_max"
          value="{{ traffic_start[1] }}"
          min="{{ traffic_range.min }}"
          max="{{ traffic_range.max }}"
          step="1000"
        >
        <span class="small text-muted ml-1">UN</span>
      </div>

      <hr>

      <p class="h5 font-weight-bold mb-0">Stáří</p>
      <p class="small mb-2">Od spuštění</p>

      {% for index, choice in age_choices %}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ index }}"
            id="filterAge{{ index }}"
            name="age[]"
            {{ index in checked_ages ? 'checked' }}
          >
          <label class="form-check-label" for="filterAge{{ index }}">
            {{ choice }}
          </label>
        </div>
      {% endfor %}

      <hr>

      <a class="text-muted small" role="button" href="{{ archive_link }}">Zrušit filtry</a>

      <button type="submit" class="btn btn-primary btn-block" id="filterSubmit">Filtrovat</button>

    </div>
  </div>
</div>

<style>
  .noUi-connect {
    background: #007bff;
  }
</style>
