<div class="eshop-mockup-container mb-4">

  <div class="eshop-mockup eshop-mockup-large">
    <div class="eshop-mockup-inner">
      <a
        href="{{ post.get_field('eshop_url') }}"
        target="_blank"
      >
        <img
          {% if post.get_field('show_placeholder') %}
            {% if post.get_field('custom_placeholder') %}
              src="{{ post.get_field('custom_placeholder')['url']|letterbox(470, 267, '#ffffff') }}"
              srcset="{{ post.get_field('custom_placeholder')['url']|letterbox(940, 535, '#ffffff') }} 2x"
            {% else %}
              src="{{ "eshopiste-placeholder.jpg"|static_assets }}"
            {% endif %}
          {% else %}
            src="{{ thumbnails.large.url }}"
            srcset="{{ thumbnails.large.retina_url }} 2x"
          {% endif %}
        >
      </a>
    </div>
  </div>

  {% if not post.get_field('show_placeholder') %}
    <div class="eshop-mockup eshop-mockup-medium">
      <div class="eshop-mockup-inner">
        <a
          href="{{ post.get_field('eshop_url') }}"
          target="_blank"
        >
          <img
            src="{{ thumbnails.medium.url ?: 'http://via.placeholder.com/1024x768/555/999?text=+' }}"
            {% if thumbnails.medium.retina_url %}
              srcset="{{ thumbnails.medium.retina_url }} 2x"
            {% endif %}
          >
        </a>
      </div>
    </div>

    <div class="eshop-mockup eshop-mockup-small">
      <div class="eshop-mockup-inner">
        <a
          href="{{ post.get_field('eshop_url') }}"
          target="_blank"
        >
          <img
            src="{{ thumbnails.small.url ?: 'http://via.placeholder.com/375x667/555/999?text=+' }}"
            {% if thumbnails.small.retina_url %}
              srcset="{{ thumbnails.small.retina_url }} 2x"
            {% endif %}
          >
        </a>
      </div>
    </div>
  {% endif %}

</div>
