<a class="eshop-thumbnail" href="{{post.link}}" title="{{ post.title }}">

  <p class="eshop-thumbnail-title h5 text-truncate mb-1">{{ post.title }}</p>

  <p class="mb-0 text-truncate">{{ post.get_field('category').name ?: 'Bez kategorie' }}</p>

  <div class="d-flex w-100 justify-content-between">
    <span>
      {% if post.get_field('type') == 0 %}
        Prodej
      {% elseif post.get_field('type') == 1 %}
        Půjčka
      {% elseif post.get_field('type') == 2 %}
        Investice

      {% endif %}
    </span>
    <strong class="eshop-thumbnail-price">{{ post.get_field('price') ?: '0' }} Kč</strong>
  </div>

  <div class="eshop-thumbnail-wrapper">

    <div class="eshop-thumbnail-screen mt-2 mb-3">
      <img
        src="{{ post.get_field('screen_thumbnail').large.url ?: 'http://via.placeholder.com/1280x800/555/999?text=Náhled+není+k+dispozici' }}"
        alt="{{ post.title }}"
      >
    </div>

    <div class="eshop-thumbnail-badges">
      {% spaceless %}
        {% if post.get_field('is_shoptet') %}
          <span class="eshop-badge eshop-badge-shoptet">shoptet</span>
        {% endif %}
        {# <span class="eshop-badge eshop-badge-new">nový</span> #}
      {% endspaceless %}
    </div>

  </div>

  <ul class="list-unstyled mb-0">

    <li class="text-truncate">
      <span class="font-weight-bold">Obrat:</span> {{ post.get_field('turnover') ?: '0' }} Kč / 12 měsíců
    </li>

    <li class="text-truncate">
      <span class="font-weight-bold">Návštěvnost:</span> {{ post.get_field('traffic') ?: '0' }} / 12 měsíců
    </li>

  </ul>

</a>
