{% extends "base.twig" %}

{% block content %}
	<div class="container py-5">
		<form action="{{ archive_link }}" method="get" id="archiveForm">

			{% if search_query %}
				<input type="hidden" name="q" value="{{ search_query }}">
			{% endif %}

			<div class="row">
				<div class="col-12 col-md-4 col-lg-3">

					{% include 'eshop/filters.twig' %}

				</div>
				<div class="col-12 col-md-8 col-lg-9">

					<div id="archiveList">

					  {% if posts is not empty %}

					    {% include 'eshop/sort.twig' %}

					    <hr class="mb-4">

					    <div class="row">
					      {% for post in posts %}
					        <div class="col-12 col-md-6 col-xl-4 mb-4">
					          {% include 'eshop/thumbnail.twig' %}
					        </div>
					      {% endfor %}
					    </div>

					    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

					  {% else %}

					    <p class="h4 font-weight-bold">Nemůžeme najít žádný e-shop s těmito požadavky</p>
					    <p>Zkuste prosím snížit vaše požadavky pomocí filtrů.</p>

					  {% endif %}

					</div>

				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block script_footer %}
	<script>
		window.sliderData = [
			{
				id: 'filterPrice',
				start: [{{ price_start[0] }}, {{ price_start[1] }}],
				range: {min: {{ price_range.min }}, max: {{ price_range.max }}},
				submitOnChange: true,
			},
			{
				id: 'filterTurnover',
				start: [{{ turnover_start[0] }}, {{ turnover_start[1] }}],
				range: {min: {{ turnover_range.min }}, max: {{ turnover_range.max }}},
				submitOnChange: true,
			},
			{
				id: 'filterTraffic',
				start: [{{ traffic_start[0] }}, {{ traffic_start[1] }}],
				range: {min: {{ traffic_range.min }}, max: {{ traffic_range.max }}},
				submitOnChange: true,
			},
		];
	</script>
{% endblock %}
