{% extends "base.twig" %}

{% block head %}
	<link rel="canonical" href="{{ archive_link }}">

	{% if posts.pagination.total > 1 %}

		{% if posts.pagination.prev %}
			<link rel="prev" href="{{posts.pagination.prev.link}}">
		{% endif %}

		{% if posts.pagination.next %}
			<link rel="next" href="{{posts.pagination.next.link}}">
		{% endif %}
		
	{% endif %}

	<meta property="og:url" content="{{ archive_link }}">
	<meta property="og:type" content="website">
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
	<div class="row-section">
		<div class="container">
			<form action="{{ archive_link }}" method="get" id="archiveForm">

				{% if search_query %}
					<input type="hidden" name="q" value="{{ search_query }}">
				{% endif %}

				<div class="row">
					<div class="col-12 col-md-4 col-lg-3">

						{% include 'eshop/filters.twig' %}

					</div>
					<div class="col-12 col-md-8 col-lg-9">

						<div id="archiveList">

						  {% if posts is not empty %}

								<h1 class="h3 mb-3">E-shopy připravené k prodeji nebo investicím</h1>

								<div class="mb-3">
									{% include 'partial/breadcrumbs.twig' %}
								</div>

								{% include 'eshop/sort.twig' %}

						    <div class="row mb-n4">
						      {% for post in posts %}
						        <div class="col-12 col-md-6 col-xl-4 mb-4">
						          {% include 'eshop/thumbnail.twig' %}
						        </div>

										{% if banner_post and loop.index == 6 %}
											<div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2 mb-4">
												{% include 'post/banner.twig' with {'post': banner_post} %}
											</div>
										{% endif %}

						      {% endfor %}
						    </div>

						    {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

								{% if seo_text %}
									<div class="mt-5 mb-n3">
										{{ seo_text }}
									</div>
								{% endif %}

						  {% else %}

						    <p class="h3">Nemůžeme najít žádný e-shop s těmito požadavky</p>
						    <p>Zkuste prosím snížit vaše požadavky pomocí filtrů.</p>

						  {% endif %}

						</div>


					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block script_footer %}
	{{ parent() }}

	window.sliderData = [
		{
			id: 'filterPrice',
			start: [{{ price_start[0] }}, {{ price_start[1] }}],
			range: {min: {{ price_range.min }}, max: {{ price_range.max }}},
			submitOnChange: true,
		},
		{
			id: 'filterTurnover',
			start: [{{ turnover_start[0] }}, {{ turnover_start[1] }}],
			range: {min: {{ turnover_range.min }}, max: {{ turnover_range.max }}},
			submitOnChange: true,
		},
		{
			id: 'filterTraffic',
			start: [{{ traffic_start[0] }}, {{ traffic_start[1] }}],
			range: {min: {{ traffic_range.min }}, max: {{ traffic_range.max }}},
			submitOnChange: true,
		},
	];
{% endblock %}
