{% extends "base.twig" %}

{% block content %}

  <div class="hero">
    <div class="container">
      <h1 class="hero-title mb-5">Tržiště pro prodej a&nbsp;investice do&nbsp;zavedených e-shopů</h1>

      {% include 'hero-form.twig' %}
    </div>
  </div>

  <div class="row-info-banner">
    <div class="container">
      <p class="h4 mb-0">
        <strong>24</strong> e-shopů s obratem <strong>30&nbsp;220&nbsp;500&nbsp;Kč</strong>
        dostalo nabídky od <strong>212</strong> investorů
      </p>
    </div>
  </div>

  <div class="row-section">
    <div class="container">

      <h2 class="row-section-title h4 mb-5">
        Nové e-shopy nabídnuté k&nbsp;prodeji
      </h2>

      <div class="row">
        {% for post in posts_for_sale %}
          <div class="col-12 col-md-6 col-xl-3 mb-4">
            {% include 'eshop/thumbnail.twig' %}
          </div>

          {% if loop.index == 3 %}
            <div class="col-12 col-md-6 col-xl-3 mb-4">
              {% include 'category/thumbnail.twig' with {'term': term_fashion} %}
            </div>
          {% elseif loop.index == 5 %}
            <div class="col-12 col-md-6 col-xl-3 mb-4">
              {% include 'category/thumbnail.twig' with {'term': term_furniture} %}
            </div>
          {% endif %}

        {% endfor %}
      </div>

      <p class="text-center mt-3 mb-0">
        <a href="{{ archive_link }}?type%5B%5D=0" class="btn btn-blue btn-lg ws-normal">Zobrazit všechny e-shopy k&nbsp;prodeji</a>
      </p>

    </div>
  </div>

  {% if advice_posts %}
    <div class="row-section bg-light">
      <div class="container">

        <h2 class="row-section-title h4 mb-5">
          Rady do začátku
        </h2>

        <div class="row">
          {% for post in advice_posts %}
            <div class="
              col-12
              col-md-6
              {% if loop.last and advice_posts|length != 2 %}
                offset-md-3
              {% endif %}
              mb-4
            ">
              {% include 'post/thumbnail.twig' %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  {% endif %}

  <div class="row-section">
    <div class="container">

      <h2 class="row-section-title h4 mb-5">
        Nové e-shopy se zájmem o&nbsp;půjčku nebo investici
      </h2>

      <div class="row">
        {% for post in posts_for_invest %}
          <div class="col-12 col-md-6 col-xl-3 mb-4">
            {% include 'eshop/thumbnail.twig' %}
          </div>

          {% if loop.index == 3 %}
            <div class="col-12 col-md-6 col-xl-3 mb-4">
              {% include 'category/thumbnail.twig' with {'term': term_fashion} %}
            </div>
          {% endif %}

        {% endfor %}
      </div>

      <p class="text-center mt-3 mb-0">
        <a href="{{ archive_link }}?type%5B%5D=1&type%5B%5D=2" class="btn btn-blue btn-lg ws-normal">Zobrazit všechny e-shopy k&nbsp;prodeji</a>
      </p>

    </div>
  </div>

{% endblock %}

{% block script_footer %}
	<script>
		window.sliderData = [
			{
				id: 'filterTurnover',
				start: [{{ turnover_range.min }}, {{ turnover_range.max }}],
				range: {min: {{ turnover_range.min }}, max: {{ turnover_range.max }}},
				submitOnChange: false,
			},
		];
	</script>
{% endblock %}
