{% extends "base.twig" %}


{% block content %}
	<div class="container">
		<article class="eshop">

			<div class="row">
				<div class="col-12 col-lg-7">

					<div class="d-md-flex justify-content-between align-items-center">
						<h1 class="eshop-title mt-1">{{ post.title }}</h1>

						<div class="ml-md-3 mb-3 mb-md-0">
				      {% include 'eshop/badges.twig' %}
				    </div>
					</div>

				</div>
			</div>

			<div class="row">

				<div class="col-12 col-md-7">

					{% include 'eshop/main.twig' %}

					{% include 'eshop/properties.twig' %}

				</div>
				<div class="col-12 col-md-5">

					{% include 'eshop/screens.twig' with {'thumbnails': post.get_field('screen_thumbnail')} %}

				</div>
			</div>

			<div class="row">
				<div class="col-12 col-lg-8">

					{% include 'eshop/detail.twig' %}

				</div>
				<div class="col-12 col-lg-4">

					{% include 'eshop/contact.twig' %}

				</div>
			</div>

		</article>
	</div>

	{% include 'eshop/similar.twig' %}

{% endblock %}

{% block script_footer %}
	<script>
		window.chartData = [

			{% if post.get_field('turnover_history')|length > 0 %}
				{
					id: 'eshopTurnoverHistoryChart',
					labels: [{% for point in post.get_field('turnover_history') %}{{ point.year }},{% endfor %}],
					data: [{% for point in post.get_field('turnover_history') %}{{ point.turnover }},{% endfor %}],
					yAxesPostfix: 'KÄ',
				},
			{% endif %}

			{% if post.get_field('traffic_history')|length > 0 %}
				{
					id: 'eshopTrafficHistoryChart',
					labels: [{% for point in post.get_field('traffic_history') %}{{ point.year }},{% endfor %}],
					data: [{% for point in post.get_field('traffic_history') %}{{ point.traffic }},{% endfor %}],
					yAxesPostfix: 'UN',
				},
			{% endif %}

		];
	</script>
{% endblock %}
